*{
	box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  src: url(./assets/fonts/Dosis-Medium.ttf);
  font-family: dosis-medium;
}
@font-face {
  font-family: dosis-bold;
  src: url(./assets/fonts/Dosis-Bold.ttf);
}
@font-face {
  font-family: dosis-medium;
  src: url(./assets/fonts/Dosis-Medium.ttf);
}
body, html{
	height: 100%;
}

#root,#root > div{
	height: 100%;
	overflow: auto;
}
#root{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e13530+0,fef751+100 */
background: #e13530; /* Old browsers */
background: -moz-linear-gradient(45deg, #e13530 0%, #fef751 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #e13530 0%,#fef751 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #e13530 0%,#fef751 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e13530', endColorstr='#fef751',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#root > div{
	max-width: 500px;
	margin: auto;
}
#root > div{
	
}
input:focus{
	outline: none;
	border-color: blue;
	transition: all ease-out 0.3s 0s;
}
.Checkout {
  margin: 0 auto;
  max-width: 800px;
  box-sizing: border-box;
  padding: 0 5px;
}

button {
  white-space: nowrap;
  border: 0;
  outline: 0;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  color: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  background-color: #6772e5;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  margin-top: 10px;
}

form {
  margin-bottom: 40px;
  padding-bottom: 40px;
  /*border-bottom: 3px solid #e6ebf1;*/
}

button:hover {
  color: #fff;
  cursor: pointer;
  background-color: #7795f8;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, .10), 0 3px 6px rgba(0, 0, 0, .08);
}

button[disabled]{
	pointer-events: none;
	background: #a7abd2;
}
.StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  max-width: 500px;
  padding: 14.5px 14px;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border-radius: 4px;
  background: white;
}

.StripeElement--focus {
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px, rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}
label + button{
  width: 100%
}

.sideMenu{
  position: absolute;
  z-index: 2;
  transition: all linear 0.2s 0s;
  opacity: 0;
  pointer-events: none;

  width: 50%;
  height: 100%;
  background: #000;
  transition: all linear 0.2s 0s;
  left: -50%;
}
.menuOverlay{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  position: absolute;
  z-index: 1;
  transition: all linear 0.2s 0s;
  opacity: 0;
  pointer-events: none;
}
.menuOverlay.opened{
  opacity: 1;
  pointer-events: auto;
}
.innerMenu{
  width: 50%;
  height: 100%;
  background: #000;
  position: relative;
  transition: all linear 0.2s 0s;
  left: -50%;
}
.sideMenu.opened{
  opacity: 1;
  pointer-events: auto;
  left: 0;
  color: #fff;
}

.sideMenu.opened .innerMenu{
  left: 0;
}
.navbar-light .navbar-brand{
  font-family: dosis-bold;
}
.header .navbar-light .navbar-nav .nav-link{
  font-family: dosis-bold;
}
.stepSec ul li h4{
  font-family: dosis-bold;
}
.workCon h2{
  font-family: dosis-bold;
}
.h5, h5{
  font-family: dosis-medium;
}
.workCon h6{
  font-family: dosis-medium;
}
p{
  font-family: dosis-medium;
}
